
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    color: #000000;
}
p,nav{
    font-family: 'Montserrat', sans-serif;
}
p{
    font-weight: 600;
}
.img{
    margin-left: 50px;

}
li{
    display: inline-block;
    padding: 7px 7px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
li:hover{
    background-color: #008849;
    border-radius: 20px;
}

#contenedor-principal {
    width: 70%;
    overflow: hidden;
    background: #60626b; 
    margin: 20px,auto;
    padding: 20px 0px;
   float: inline-start;
  
}
#contenedor-principal{
    padding: 0px;
    margin: 0px;
}
#contenedor-3 {
    width: 70%;
    overflow: hidden;
    background: #3d4775; 
    margin: 20px,auto;
    padding: 20px 0px;
   float: inline-start;
  
}
#contenedor-3{
    padding: 0px;
    margin: 0px;
}
@media screen and(max-width:1200px){
    .caja ul li{
        width: 40%;
        margin-left: 50px;

    }
}


